html, body {
    height: 100%;
    padding: 0;
}

input {
    -webkit-appearance: none;
}

div {
    padding: 5px;
}

svg {
    width: 600;
    height: 600;
    border: 1px black solid;
}

.container {
    position: relative;
}

.view {
    width: 610px;
    position: relative;
}

.gray{
	fill: #999999;
}

.legendBox{
	border: 1px solid;
    position: absolute;
    top: 10px;
    left: 10px; 
}

.lower{
	top: 535px !important;
}